DERIV_APP_ID=YOUR_DERIV_APP_ID
DERIV_TOKEN_KEY=BASE64_32BYTE_KEY
DERIV_TOKEN_STORE=backend-node/data/token.enc
DERIV_NODE_PORT=8081
DERIV_NODE_HOST=0.0.0.0
DERIV_NODE_LOG_LEVEL=info

MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DB=deriv_suite

ANALYSIS_BASE_URL=http://127.0.0.1:8080
BOT_LOOP_SEC=12
BOT_MAX_OPEN_POSITIONS=0
BOT_SYMBOLS=
BOT_STAKE=1
BOT_DURATION=1
BOT_DURATION_UNIT=m
BOT_CONTRACT_TYPE=CALL
BOT_MAX_DAILY_LOSS=0
BOT_MAX_CONSECUTIVE_LOSSES=0
BOT_GLOBAL_COOLDOWN_SEC=0

DASH_USER=
DASH_PASS=
